[Desktop Entry]
Name=Galileo-Bangs
X-KDE-PluginInfo-Author=Smokey
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=michaelcurtis5787@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Galileo-Bangs
X-KDE-PluginInfo-Version=0.1.1
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel

X-KPackage-Dependencies=
